local/
generated/*
__pycache__/
_ext
*.pyc
*.so
build/
dist/
*.egg-info/
.vscode/
videos/
test/
*_local/
datasets/
assets/
*log/
humanoidgen/motion_planning/h1_2/solution/mcts/*
Tokens_consumption.txt